.vscode
nbaTrends-jobs/bin/
nbaTrends-jobs/include/
nbaTrends-jobs/Include/
nbaTrends-jobs/lib/
nbaTrends-jobs/Lib/
nbaTrends-jobs/Scripts/
nbaTrends-jobs/tcl/
nbaTrends-jobs/selenium/
nbaTrends-jobs/share/
nbaTrends-jobs/.Python
nbaTrends-jobs/pip-selfcheck.json
nbaTrends-jobs/nbaTrends/resources/config.ini
nbaTrends-jobs/*.pyc
nbaTrends-jobs/logs/
nbaTrends-jobs/.vscode/

nbaTrends-hadoop/*.pyc
nbaTrends-hadoop/logs/