# Visual Studio
.vscode/

# Intellij / Pycharm
nbaTrends-jobs/.Python
.Python

# python ignores
nbaTrends-jobs/*.pyc
nbaTrends-jobs/bin/
nbaTrends-jobs/include/
nbaTrends-jobs/Include/
nbaTrends-jobs/lib/
nbaTrends-jobs/Lib/
nbaTrends-jobs/Scripts/
nbaTrends-jobs/tcl/
nbaTrends-jobs/selenium/
nbaTrends-jobs/share/
nbaTrends-jobs/pip-selfcheck.json

# logs
nbaTrends-jobs/logs/

# config files (specific to each machine)
nbaTrends-jobs/nbaTrends/resources/config.ini

ghostdriver.log